.chat-container {
    background-color: var(--bluet);
    min-height: 360px;
}

.chat-container > button {
    margin-bottom: 5px;
    position: relative;
}

.chat-container > button:hover::after {
    content: 'Sync up your videos';
    position: absolute;
    width: 160px;
    left: 55px;
}

.chat-box {
    background: white;
    height: 320px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    position: relative;
    z-index: 2;
}

.chat-box ul {
    height: 260px;
    padding: 0 10px 10px 10px;
    overflow: scroll;
}

.chat-box input {
    border: 1px solid var(--bluet);
    flex-grow: 5;
}

.chat-box button {
    flex-grow: 1;
}

.chat-box form {
    padding: 0;
}

.chat-box div {
    padding: 8px;
}

.chat-box div p {
    margin: 0;
}

.chat-box ul li {
    padding: 12px;
}

.chat-box ul li:nth-child(2n) {
    background: var(--gray);
}

.chat-container {
    padding: 20px;
    overflow: hidden;
}

.user {
    font-weight: bold;
    display: block;
    height: 30px;
    line-height: 30px;
}

.chat-box ul li:nth-child(2n) .user {
    color: var(--blue);
}

.chat-box ul li:nth-child(odd) .user {
    color: var(--pink);
}