form {
    background: var(--pinkt);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container {
    padding: .5px;
}

.form-container button {
    padding: 10px;
    width: 100px;
    margin-left: 14px;
}

.login,
.signup {
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    flex-grow: 10;
}

.login .flex,
.signup .flex {
    display: flex;
    flex-direction: column;
}

.search-video input {
    min-width: 100%;
}

label[for="video-title"] {
    width: 320px;
    position: relative;
}