.player-container {
    background-color: var(--bluet);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

/* actually for iframe; need placeholder */
.player,
iframe {
    background: var(--ltgray);
    height: 180px;
    width: 320px;
    margin: 0 auto;
}

.player-container > button {
    margin: 5px 0;
    position: relative;
}

@media (min-width: 420px) {

    /* actually for iframe; need placeholder */
    .player,
    iframe {
        height: 360px;
        width: 100%;
    }
}

@media (min-width: 690px) {

    /* actually for iframe; need placeholder */
    .player,
    iframe {
        width: 640px;
        height: 360px;
    }
}